.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 48px;
  background-color: #FFFFFF;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.global-nav {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 45px;
  background: #FFFFFF;
}

.global-nav-sticky .global-nav {
  position: fixed;
  top: 0;
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.global-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global-nav-item-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item {
  font-family: 'NanumSquare Neo';
  text-align: center;
  color: #213856;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  opacity: 50%;
}

.selected-item {
  border-bottom: 3px solid #213856;
}

a.nav-item {
  text-decoration-line: none;
}

.section {
  padding: 3rem 0;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.section-title .section-title-text {
  font-family: 'NanumSquare Neo';
  color: #213856;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0.5rem;
}

.section-title .white-title {
  color: #FFFFFF;
}

.section-introduce {
  width: 100%;
  padding: 0 0 2rem 0;
  background-color: #213856;
}

.introduce-title {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.introduce-title-content {
  font-family: 'NanumSquare Neo';
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.introduce-title-icon {
  margin: 0 0.5rem;
  height: 17px;
}

div.introduce-content {
  font-family: 'NanumSquare Neo';
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.introduce-divider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.divider {
  border-top: 1px solid #FFFFFF;
  margin: 2rem 0;
  width: 1rem;
  justify-self: center;
}

.introduce-body-wrapper {
  height: fit-content;
  background-color: #FFFFFF;
  margin: 0 1rem;
  padding: 0.4rem;
  border-radius: 4px;
}

.introduce-body-wrapper .inner-border {
  border-radius: 4px;
  border: 1px solid #213856;
  padding: 2rem 4rem;
}

.inner-content {
  display: flex;
  flex-direction: column;
}

.inner-content .inner-content-avartar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content .avartar-img {
  width: 56px;
  height: 56px;
  border: 1px solid #0000000F;
  border-radius: 50%;
}

.inner-content .inner-content-header {
  margin: 1rem 0;
  font-family: 'NanumSquare Neo';
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #213856;
}

.inner-content .inner-content-body {
  font-family: 'NanumSquare Neo';
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #303038;
}

.section-gallary {
  background-color: #FFFFFF;
  width: 100%;
}

.gallary-body {
  padding: 0 1.5rem;
}

.gallary-image-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallary-image-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.gallary-item {
  flex: 1;
}

.square {
  position: relative;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.section-location {
  background-color: #0000000F;
  width: 100%;
  height: 1327px;
}

.location-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.location-content .location-content-title {
  font-family: NanumSquare Neo;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 0;
}

.location-content .location-content-description {
  font-family: NanumSquare Neo;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.location-map {
  padding: 0 0 3rem 0;
}

.location-map-view {
  padding: 1rem 1.5rem;
}

.location-map-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.location-map-buttons .map-buttons-row {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.location-map-buttons .map-buttons-row .map-icon-button {
  flex: 1;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #EFEFF0;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, #EFEFF0, #EFEFF0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.location-map-buttons .button-icon {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #0000000F;
}

.location-map-buttons .button-text {
  margin-left: 0.5rem;
  font-family: NanumSquare Neo;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #303038;
}

.card-layout {
  padding: 0 1.5rem;
}

.card-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #DFE5FB;
  border: 1px solid #EFEFF0;
  border-radius: 50%;
  transform: translateY(50%);
}

.card-inner-box {
  padding-top: 44px;
  padding-bottom: 22px;
  top: 22px;
  background: #FFFFFF;
  border: 1px solid #EFEFF0;
  border-radius: 4px;
}

.card-title {
  font-family: NanumSquare Neo;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #213856;
  margin-bottom: 1rem;
}

.card-content {
  font-family: NanumSquare Neo;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #303038;
}

.bus-chip-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}

.bus-chip-text {
  font-family: NanumSquare Neo;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  gap: 10px;
}

.bus-chip {
  width: fit-content;
  padding: 2px 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.bus-chip-blue {
  background: #0050BD1A;
  color: #0050BD;
}

.bus-chip-green {
  background: #00A4411A;
  color: #00A441;
}

.bus-chip-red {
  background: #F33B221A;
  color: #F33B22;
}

.section-contact {
  background-color: #FFFFFF;
  width: 100%;
  height: 841px;
  border: 1px solid black;
}

.section-guestbook {
  background-color: #213856;
  width: 100%;
  height: 724px;
  border: 1px solid black;
}